* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    background: url('../image/bg-image.png') no-repeat center /cover fixed;
    height: 100%;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 61px;
}

.header__nav-links {
    font-family: 'DM';
    font-weight: 500;
    font-size: 14px;
    color: #f9fafb;
    transition: 400ms;
}

.header__nav-links:hover {
    color: #d5d5d5;
}

.header__nav-btn {
    font-family: 'DM';
    font-weight: 500;
    font-size: 14px;
    color: #f9fafb;
    background: linear-gradient(91deg, #2563eb 0%, #d946ef 100%);
    border-radius: 5px;
    padding: 12px 24px;
    width: 132px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content-info {
    max-width: 546px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header__content-title {
    font-family: 'DB';
    font-weight: 700;
    font-size: 56px;
    line-height: 145%;
    letter-spacing: 0.02em;
    background: linear-gradient(88deg, #2563eb 0%, #d946ef 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
}

.header__content-img img{
    max-width: 580px;
    width: 100%;
}

.header__content-text {
    font-family: 'DM';
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color: #e5e7eb;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
    opacity: 0.8;
}

.header__content-links {
    display: flex;
    align-items: center;
    gap: 29px;
}

.content__links-join {
    display: block;
    font-family: 'DM';
    font-weight: 500;
    font-size: 16px;
    color: #f9fafb;
    border-radius: 6px;
    padding: 20px 40px;
    width: 135px;
    padding: 20px 0;
    text-align: center;
    background: linear-gradient(91deg, #2563eb 0%, #d946ef 100%);
}

.content__links-video {
    font-family: 'DM';
    font-weight: 500;
    font-size: 16px;
    color: #f9fafb;
    gap: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 23px;
}

.main__service {
    padding: 60px 0;
}

.main__service-title,
.main__team-title {
    font-family: "DB";
    font-weight: 700;
    font-size: 42px;
    color: #fff;
    text-align: center;
}

.main__service-subtitle,
.main__team-subtitle {
    font-family: 'DR';
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #fff;
    margin: 35px 0;
}

.main__service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main__service-card-f {
    border-radius: 34px;
    max-width: 370px;
    width: 100%;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    padding: 37px 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;


    .service__card-img {
        background: linear-gradient(180deg, #8a7fd9 0%, #402f8f 100%);
        border-radius: 55px;
        width: 74px;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .service__card-title {
        font-family: 'DM';
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }


    .service__card-text,
    .service__card-link {
        font-family: 'DR';
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: #fff;
        text-align: center;
    }

    .service__card-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
}

.main__service-card-s {
    border-radius: 34px;
    max-width: 370px;
    width: 100%;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    padding: 37px 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;


    .service__card-img {
        background: linear-gradient(180deg, #d97f95 0%, #923250 100%);
        border-radius: 55px;
        width: 74px;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .service__card-title {
        font-family: 'DM';
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }


    .service__card-text,
    .service__card-link {
        font-family: 'DR';
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: #fff;
        text-align: center;
    }

    .service__card-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
}

.main__service-card-th {
    border-radius: 34px;
    max-width: 370px;
    width: 100%;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    padding: 37px 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;


    .service__card-img {
        background: linear-gradient(180deg, #84d8ed 0%, #4292bb 100%);
        border-radius: 55px;
        width: 74px;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .service__card-title {
        font-family: 'DM';
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }


    .service__card-text,
    .service__card-link {
        font-family: 'DR';
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: #fff;
        text-align: center;
    }

    .service__card-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
}

.main__service-card-fth {
    border-radius: 34px;
    max-width: 370px;
    width: 100%;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    padding: 37px 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;


    .service__card-img {
        background: linear-gradient(180deg, #92efc3 0%, #2f8f5b 100%);
        border-radius: 55px;
        width: 74px;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .service__card-title {
        font-family: 'DM';
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }


    .service__card-text,
    .service__card-link {
        font-family: 'DR';
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: #fff;
        text-align: center;
    }

    .service__card-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
}

.main__service-card-fith {
    border-radius: 34px;
    max-width: 370px;
    width: 100%;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    padding: 37px 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;


    .service__card-img {
        background: linear-gradient(180deg, #bc7fd9 0%, #923283 100%);
        border-radius: 55px;
        width: 74px;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .service__card-title {
        font-family: 'DM';
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }


    .service__card-text,
    .service__card-link {
        font-family: 'DR';
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: #fff;
        text-align: center;
    }

    .service__card-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
}

.main__service-card-sxth {
    border-radius: 34px;
    max-width: 370px;
    width: 100%;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    padding: 37px 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;


    .service__card-img {
        background: linear-gradient(180deg, #8684ed 0%, #4247bb 100%);
        border-radius: 55px;
        width: 74px;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .service__card-title {
        font-family: 'DM';
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }


    .service__card-text,
    .service__card-link {
        font-family: 'DR';
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: #fff;
        text-align: center;
    }

    .service__card-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
}

.main__content-first {
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
    align-items: center;

    .main__content-first-block {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }

    .content__first-block-title {
        font-family: 'DB';
        font-weight: 700;
        font-size: 40px;
        color: #fff;
    }

    .content__first-block-text {
        font-family: 'DR';
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: #fff;
    }

    .content__first-block-link {
        font-family: "DR";
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        border-radius: 4px;
        width: 99px;
        height: 31px;
        background: linear-gradient(91deg, #2563eb 0%, #d946ef 100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main__content-first-img {
        max-width: 588px;
        width: 100%;
    }
}

.main__team {
    margin: 60px 0;
}

.main__team-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.team__cards-card {
    border-radius: 34px;
    max-width: 270px;
    width: 100%;
    padding: 32px 57px;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.team__cards-img {
    border-radius: 54px;
    width: 90px;
    height: 89px;
    box-shadow: 0 22px 18px 0 rgba(0, 0, 0, 0.05);
    background: linear-gradient(268deg, rgba(254, 254, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), url("path_to_image");
    transform: rotate(4deg);
}

.team__cards-title {
    font-family: 'DM';
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}

.team__cards-subtitle {
    font-family: 'DR';
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}

.team__cards-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.main__subscribe {
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    border-radius: 34px;
    max-width: 1170px;
    width: 100%;
    padding: 50px 15px 38px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__subcribe-title {
    font-family: 'DB';
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__subscribe-subtitle {
    font-family: 'RBR';
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    color: #fff;
    opacity: 0.8;
    margin-top: 13px;
    margin-bottom: 30px;
}

.main__subscribe-email {
    border-radius: 70px;
    max-width: 860px;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.subscribe__email-input {
    border: none;
    outline: none;
    background: none;
    padding-left: 50px;
    font-family: 'RR';
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #fff;
    opacity: 0.9;
}

.subscribe__email-input::placeholder {
    font-family: 'RR';
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: #fff;
    opacity: 0.9;
}

.subcribe__email-btn {
    border-radius: 70px;
    max-width: 196px;
    width: 100%;
    font-family: 'RM';
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: linear-gradient(91deg, #2563eb 0%, #d946ef 100%);
    opacity: 0.9;
    gap: 9px;
    padding: 15px 0;
}

.footer {
    margin-top: 66px;

}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 98px;
    margin: 32px 0;
}

.footer__content-f {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__content-logo {
    width: 116px;
    height: 39px;
}

.footer__content-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.footer__content-contacts {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: 'DR';
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: rgba(255, 255, 255, 0.8);
}

.footer__content-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.footer__content-social-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 32px;
    height: 32px;
    background: none;
}

.footer__content-s,
.footer__content-th,
.footer__content-fth {
    display: flex;
    gap: 42px;
}

.content__s-links,
.content__th-links,
.content__fth-links {
    display: flex;
    flex-direction: column;
}

.content__s-links-title,
.content__th-links-title,
.content__fth-links-title {
    font-family: 'DM';
    font-weight: 500;
    font-size: 18px;
    line-height: 222%;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.8);
}

.content__s-links-link,
.content__th-links-link,
.content__fth-links-link {
    font-family: 'DM';
    font-weight: 100;
    font-size: 18px;
    line-height: 222%;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.8);
    transition: 400ms;
}

.content__s-links-link:hover,
.content__th-links-link:hover,
.content__fth-links-link:hover {
    font-family: 'DM';
    font-weight: 100;
    font-size: 18px;
    line-height: 222%;
    letter-spacing: 0.01em;
    color: rgba(163, 163, 163, 0.8);
}

.footer__info {
    padding: 33px 0 36px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info-project {
    font-family: 'RR';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.8);
}

.footer__info-rules {
    display: flex;
    align-items: center;
    gap: 53px;
}

.footer__info-rule {
    font-family: "DR";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.8);
    transition: 400ms;
}

.footer__info-rule:hover {
    font-family: "DR";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(158, 158, 158, 0.8);
}

hr {
    background: #969696;
    opacity: 0.2;
    max-height: 1px;
    height: 100%;
    width: 100%;
}